<div class="topnav">
	<form action="/">
    <input type="submit" value="Home">
	</form>
</div>

<div class="mainbox">

	<h2>Teacher Login</h2>

	<hr>

	<form action="/teacher_login" method="post">
		<label for="email">E-mail</label><br>
		<input type="text" name="email" placeholder="Email address"/><br>
		<br>
		<label for="password">Password</label><br>
		<input type="password" name="password" placeholder="Password"/><br>
		<br>
		<hr>
		<input type="submit" value="Login"/>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	</form>

</div>
 