<div class="topnav">
	<form action="/dashboard">
    <input type="submit" value="Back to Dashboard">
	</form>
</div>

<% if (session[:is_teacher]) %>

	<div class="mainbox">

		<h2>Students</h2>

		<% @students.each do |student| %>

			<form action="/students/<%= student.id %>">
		    <input type="submit" value="<%= student.first_name %> <%= student.last_name %>">
			</form>

		<% end %>

</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>


