<div class="topnav">
	<form action="/units/<%= @unit.id %>">
    <input type="submit" value="Back to <%= @unit.title %>">
	</form>
</div>

<% if (session[:is_teacher]) %>

	<div class="mainbox">

	<h2>Add a New Topic</h2>

		<form action="/units/<%= @unit.id %>/topics" method="post">
			<label for="title">Topic Title:</label>
			<input type="text" name="title" placeholder="Enter Topic Title..."/><br>
			<label for="description">Topic Description:</label>
			<textarea name="description" placeholder="Enter Topic Description..."></textarea><br>
			<label for="video_url">Video URL</label>
			<input type="text" name="video_url" placeholder="Enter Video URL..."/><br>
			<input type="submit" value="Create Topic"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>
	
<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>