<a href="/topics/<%= @topic.id %>">Back to <%= @topic.title %></a>

<% if (session[:is_teacher]) %>

	<h1>NEW REVIEW QUESTION</h1>

	<form action="/topics/<%= @topic.id %>/review_questions" method="post">
		<label for="question_text">Question Text</label>
		<input type="text" name="question_text" placeholder="Enter Question Text..."/><br>
		<label for="answer_text">Answer Text</label>
		<input type="text" name="answer_text" placeholder="Enter Answer Text..."/><br>
		<input type="submit" value="Create Question"/>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	</form>
	
<% else %>

	<h1>Sorry, you are not authorized to view this page.</h1>

<% end %>