<div class="topnav">
	<form action="/topics/<%= @topic.id %>">
    <input type="submit" value="Back to <%= @topic.title %>">
	</form>
</div>

<% if((session[:is_admin]) || (session[:teacher_id] == @topic.unit.review_session.teacher_id)) %>

	<div class="mainbox">

		<h2>Add a Review Question</h2>

		<hr>

		<div class="hostmath">
			<p>Use HostMath to format complex equations. Copy and paste formatted text into the field below. Once saved, the equation will then format on the screen. You can access the editor <a class="host" href="">here</a>.</p>
		</div>

		<form action="/topics/<%= @topic.id %>/review_questions" method="post">
			<label for="question_text">Question Text:</label><br>
			<textarea name="question_text" placeholder="Enter Question Text..."></textarea><br>
			<label for="answer_text">Answer Text:</label><br>
			<textarea name="answer_text" placeholder="Enter Answer Text..."></textarea><br>
			<hr>
			<input type="submit" value="Create Question"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>
	
<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>