<div class="topnav">
	<form action="/review_sessions/<%= @session.id %>">
    <input type="submit" value="Back to <%= @session.title %>">
	</form>
</div>

<% if (session[:is_teacher]) %>

	<div class="mainbox">

	<h2>Add a Test Question</h2>

	<form action="/review_sessions/<%= @session.id %>/test_questions" method="post">
		<label for="question_text">Question Text</label>
		<textarea name="question_text" placeholder="Enter Question Text..."></textarea><br>		
		<label for="points">Points Worth</label>
		<input type="text" name="points" placeholder="Enter Points Worth... (default 1 point)"/><br>
		<input type="submit" value="Create Question"/>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	</form>

	</div>
	
<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>