<form action="/logout" method="post">
	<input type="submit" value="Logout"/>
	<input type="hidden" name="_method" value="delete"/>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
</form>

<% if (session[:is_teacher]) %>

	<h1>TEACHER DASHBOARD</h1>

	<!-- list of courses -->
	<a href="/courses">Courses</a>

	<!-- link to own profile -->
	<a href="/teachers/<%= session[:user_id] %>">My Profile</a>

	<!-- link to student profiles -->
	<a href="/students">Students</a>


<% else %>

	<h1>STUDENT DASHBOARD</h1>

	<!-- list of review sessions assigned -->

	<!-- link to own profile -->
	<a href="/students/<%= session[:user_id] %>">My Profile</a>



<% end %>



