<div class="topnav">
</div>

<div class="mainbox">

	<% if (session[:teacher_id] != nil) %>

		<h2>Teacher Dashboard</h2>

		<hr>

		<form action="/courses">
		  <input type="submit" value="Courses">
		</form>

		<form action="/students">
      <input type="submit" value="Students">
	  </form>

	  <form action="/teachers/<%= session[:teacher_id] %>">
      <input type="submit" value="My Profile">
	  </form>

	  <form action="/teachers/<%= session[:teacher_id] %>/assessments">
      <input type="submit" value="My Assessments">
	  </form>

	  <hr>

		<% if (session[:is_admin] == true) %>

			<h5>For Administrators Only</h5>

			<form action="/assessments">
	      <input type="submit" value="All Assessments">
		  </form>

		  <form action="/teachers">
	      <input type="submit" value="Teachers">
		  </form>

		  <hr>

		<% end %>

	<% else %>

		<h2>Student Dashboard</h2>

		<form action="/students/<%= session[:student_id] %>/assessments">
	    <input type="submit" value="My Review Sessions">
		</form>

		<form action="/students/<%= session[:student_id] %>">
	    <input type="submit" value="My Profile">
		</form>

	<% end %>

</div>



