<div class="topnav">
</div>

<div class="mainbox">

	<% if (session[:is_teacher]) %>

		<h2>Teacher Dashboard</h2>

		<form action="/courses">
		  <input type="submit" value="Courses">
		</form>

		<form action="/students">
      <input type="submit" value="Students">
	  </form>

	  <form action="/teachers/<%= session[:user_id] %>">
      <input type="submit" value="My Profile">
	  </form>

	  <form action="">
      <input type="submit" value="My Assessments">
	  </form>

		<% if (session[:is_admin]) %>

			<h5>For Administrators Only</h5>

			<form action="/assessments">
	      <input type="submit" value="All Assessments">
		  </form>

		  <form action="/teachers">
	      <input type="submit" value="Teachers">
		  </form>

		<% end %>

	<% else %>

		<h2>Student Dashboard</h2>

		<form action="/student_assessments/<%= session[:user_id] %>">
	    <input type="submit" value="My Review Sessions">
		</form>

		<form action="/students/<%= session[:user_id] %>">
	    <input type="submit" value="My Profile">
		</form>

	<% end %>

</div>



