<div class="topnav">
</div>

<div class="mainbox">

	<h1>WELCOME TO MATHEMATICS REVIEW</h1>

	<form action="/sessions/new_teacher">
    <input type="submit" value="Teacher Login">
	</form>

	<form action="/sessions/new_student">
    <input type="submit" value="Student Login">
	</form>

</div>