<h1>WELCOME TO THE MATH REVIEW APP</h1>


<a href="/sessions/new_teacher">Teacher Login</a><br><br>

<a href="/sessions/new_student">Student Login</a><br><br>

<form action="/logout" method="post">
	<input type="submit" value="Logout"/>
	<input type="hidden" name="_method" value="delete"/>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
</form>