<div class="topnav">
	<br><br>
</div>

<div class="mainbox">

	<form action="/sessions/new_teacher">
    <input type="submit" value="Teacher Login">
	</form>

	<br>

	<form action="/sessions/new_student">
    <input type="submit" value="Student Login">
	</form>

</div>