<div class="topnav">
	<form action="/courses/<%= @course.id %>">
    <input type="submit" value="Back to <%= @course.name %> Review Sessions">
	</form>
</div>

<% if (session[:is_teacher]) %>

	<div class="mainbox">

		<h2>Add a Review Session</h2>

		<hr>

		<form action="/courses/<%= @course.id %>/review_sessions" method="post">
			<label for="title">Session Title:</label><br>
			<input type="text" name="title" placeholder="Enter Session Title..."/>
			<br><br>
			<label for="test_type">Final Test Type:</label>
			<input type="radio" name="test_type" value="0" checked="checked">Paper
			<input type="radio" name="test_type" value="1">Computer
			<br><br>
			<label for="title">Test URL (for paper test)</label><br>
			<h5>Enter Dropbox URL for test PDF</h5>
			<input type="text" name="test_url" placeholder="Enter Test URL..."/><br>
			<hr>
			<input type="submit" value="Create Review Session"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>
	
<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>