<div class="topnav">
	<form action="/dashboard">
    <input type="submit" value="Dashboard">
	</form>
</div>

<% if (session[:is_admin]) %>

	<div class="mainbox">

		<h2>Teachers</h2>

		<hr>

		<% @teachers.each do |teacher| %>

			<form action="/teachers/<%= teacher.id %>">
		    <input type="submit" value="<%= teacher.first_name %> <%= teacher.last_name %>">
			</form>

		<% end %>

		<form action="/teachers/new">
	    <input class="lite" type="submit" value="Add a New Teacher">
		</form>

		<hr>

</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>


