<div class="topnav">
	<% if (session[:is_admin] == true) %>
		<form action="/teachers">
	    <input type="submit" value="Back to Teachers">
		</form>	
	<% else %>
		<form action="/dashboard">
	    <input type="submit" value="Back to Dashboard">
		</form>
	<% end %>
</div>

<% if ((session[:is_admin] == true) || (session[:teacher_id] == @teacher.id)) %>

	<div class="mainbox">

		<% if (session[:teacher_id] == @teacher.id) %>		
			<h2>My Profile</h2>
		<% else %>
			<h2>Teacher Profile</h2>
		<% end %>

		<hr>

		<h4>First Name: <%= @teacher.first_name %></h4>
		<h4>Last Name: <%= @teacher.last_name %></h4>
		<h4>Email: <%= @teacher.email %></h4>
		<% if @teacher.is_active == true %>
			<h4>Active?: Yes</h4>
		<% else %>
			<h4>Active?: No</h4>
		<% end %>
		<% if @teacher.is_admin == true %>
			<h4>Admin?: Yes</h4>
		<% else %>
			<h4>Admin?: No</h4>
		<% end %>

		<hr>

		<% if (session[:is_admin] == true) %>

			<form action="/teachers/<%= @teacher.id %>/edit">
		    <input class="lite" type="submit" value="Edit Profile">
			</form>

		<% end %>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>
