<a href="/dashboard">Back to Dashboard</a>

<% if (session[:is_teacher]) %>

	<h1>TEACHER SHOW</h1>

	<h3>First Name: <%= @teacher.first_name %></h3>
	<h3>Last Name: <%= @teacher.last_name %></h3>
	<h3>Email: <%= @teacher.email %></h3>
	<% if @teacher.is_active == true %>
		<h3>Active?: Yes</h3>
	<% else %>
		<h3>Active?: No</h3>
	<% end %>
	<% if @teacher.is_admin == true %>
		<h3>Admin?: Yes</h3>
	<% else %>
		<h3>Admin?: No</h3>
	<% end %>

	<a href="/teachers/<%= @teacher.id %>/edit">Edit Profile</a>

<% else %>

	<h1>Sorry, you are not authorized to view this page.</h1>

<% end %>
