<a href="/dashboard">Dashboard</a>

<% if (session[:is_teacher]) %>

	<h1>COURSES INDEX</h1>

	<ul>

	<% @courses.each do |course| %>

		<li><a href="/courses/<%= course.id %>"><%= course.name %></a></li>

	<% end %>

	</ul>

<% else %>

	<h1>Sorry, you are not authorized to view this page.</h1>

<% end %>


<!-- create, edit, and delete courses from this page -->