<div class="topnav">
	<form action="/dashboard">
    <input type="submit" value="Back to Dashboard">
	</form>
</div>

<% if (session[:is_teacher]) %>

	<div class="mainbox">

		<h2>Courses</h2>

		<hr>

		<% @courses.each do |course| %>

			<form action="/courses/<%= course.id %>">
		    <input type="submit" value="<%= course.name %>">
			</form>

		<% end %>

		<% if (session[:is_admin]) %>

			<form action="/courses/new">
		    <input class="lite" type="submit" value="Add a New Course">
			</form>

		<% end %>

		<hr>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>


<!-- create, edit, and delete courses from this page -->