<div class="topnav">
	<a href="/dashboard">Back to Dashboard</a>
</div>

<% if (session[:is_teacher]) %>

	<div class="mainbox">

		<h2>Courses</h2>

		<ul>

		<% @courses.each do |course| %>

			<li><a href="/courses/<%= course.id %>"><%= course.name %></a></li>

		<% end %>

		</ul>

		<a href="/courses/new">Add a New Course</a>

	</div>

<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>


<!-- create, edit, and delete courses from this page -->