<div class="topnav">
	<form action="/review_sessions/<%= @session.id %>">
    <input type="submit" value="Back to <%= @session.title %>">
	</form>
</div>

<% if((session[:is_admin] == true) || (session[:teacher_id] == @session.teacher_id)) %>

	<div class="mainbox">

		<h2>Add a New Unit</h2>

		<hr>

		<form action="/review_sessions/<%= @session.id %>/units" method="post">
			<label for="title">Unit Title</label><br>
			<input type="text" name="title" placeholder="Enter Unit Title..."/><br>
			<label for="description">Unit Description</label><br>
			<textarea name="description" placeholder="Enter Unit Description..."></textarea><br><hr>
			<input type="submit" value="Create Unit"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		</form>

	</div>
	
<% else %>

	<div class="sorry">
		<h1>Sorry, you are not authorized to view this page.</h1>
	</div>

<% end %>