$bgcolor: rgba(89, 41, 129, 1);

body {
	font-family: 'Open Sans', sans-serif;
}

.topnav {
	margin-top: 160px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 16px;
	color: $bgcolor;

	input[type=submit] {
		min-width: 120px;
		height: 40px;
		border-radius: 10px;	
		background-color: $bgcolor;
		border-color: $bgcolor;
		color: white;
		font-size: 14px;
		font-weight: 700;
		padding: 0 5px;
		cursor: pointer;
	}
}

header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	border: 0;
	padding: 10px;
	height: 120px;
	background-color: $bgcolor;
	text-align: center;

	.left {
		width: 30%;
		float: left;
		margin-left: 40px;
	}

	.right {
		width: 30%;
		float: right;
		margin-right: 40px;
	}

	h1, h2, h3, h4, h5 {
		margin-top: 10px;
		margin-bottom: 10px;
		color: white;
	}

	input[type=submit] {
		width: 100px;
		height: 30px;
		line-height: 20px;
		border-radius: 5px;	
		border-color: $bgcolor;
		background-color: white;
		color: $bgcolor;
		font-size: 14px;
		font-weight: 700;
		margin-top: 10px;
		margin-bottom: 10px;
		cursor: pointer;
	}

}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
	border: 0;
	height: 50px;
	background-color: $bgcolor;
}

.mainbox {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	text-align: center;
	width: 80%;
	padding: 20px;
	border: solid 1px; 
	border-color: $bgcolor;
	border-radius: 20px;

	h1, h2, h3, h4, h5 {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
		color: $bgcolor;
	}

	p {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: left;
		color: black;
	}

	label {
		width: 80%;
		color: $bgcolor;
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 5px;
		text-align: left;
	}

	input[type=text] {
		width: 80%;
		height: 30px;
		border: solid 1px;
		border-color: $bgcolor;
		border-radius: 5px;	
		color: black;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	input[type=password] {
		width: 80%;
		height: 30px;
		border: solid 1px;
		border-color: $bgcolor;
		border-radius: 5px;	
		color: black;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	textarea {
		width: 80%;
		min-height: 100px;
		border: solid 1px;
		border-color: $bgcolor;
		border-radius: 5px;	
		color: black;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		padding: 5px;
	}

	input[type=submit] {
		min-width: 160px;
		height: 40px;
		border-radius: 10px;
		border-color: $bgcolor;	
		background-color: $bgcolor;
		color: white;
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 5px;
		cursor: pointer;
	}

	input[type=submit].lite {
		min-width: 160px;
		height: 40px;
		border-radius: 10px;	
		background-color: white;
		border-color: $bgcolor;
		color: $bgcolor;
		font-size: 14px;
		font-weight: 700;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 5px;
		cursor: pointer;
	}

	iframe {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

}
